<h1>List of Doctors</h1>
<% if @doctor_profile.any?%>
  <% @doctor_profile.each do |doctor|%>
    <div class = "well">
      <%= link_to "Book a Consultation" , new_consultation_path(doctor_profile_id: doctor.id), class: "pull-right btn btn-primary" %>
      <h3><%= doctor.user.name %></h3>
      <p><%= doctor.qualification %></p>
      <p>Phone: <%= doctor.contact %></p>
    </div>
  <% end %>
<% end %>