<h2>Upcoming Appointments</h2>
<div class="well">  
  <% @next_appointments.each do |consultation|%>
    <h2><%= consultation.patient_profile.user.name %></h2>
    <p><%= consultation.comments%></p>
  <%end%>
</div>