@import "bootstrap-sprockets";
@import "bootswatch/spacelab/variables";
@import "bootstrap";
@import "bootswatch/spacelab/bootswatch";

body#land {
  width: 100%;
  height: 100vh;
  background-image: url("med.jpg"); 
}