$wizard: #fff;
$nav-tabs: #e0e0e0;
$primary_colour: #555;
$secondary_colour: #5bc0de;
$round-tab: #333;
$glyphicon_icons: #555;
$heading: #999;
$fa-icon: #88C425;
$image-hover: #519548;
$image-colour: #BC0213;
$timeline: #eee;
$before: #ccc;
$icons: #2e6da4;